<app-navegacion></app-navegacion>
<div class="alert alert-danger"  style="text-align: center;" role="alert"
  *ngIf="nombre.invalid && nombre.touched||apellido.invalid && apellido.touched||numero.invalid && numero.touched">
  Por favor, completa todos los campos obligatorios.


</div>


<div class="alert alert-danger" style="text-align: center;" role="alert" *ngIf="email.invalid && email.touched" >
  <div *ngIf="email.errors?.['required']">El email es requerido.</div>
  <div *ngIf="email.errors?.['email']">El email debe tener un formato válido (@) y .com</div>
  <div *ngIf="email.errors?.['invalidDomain']">El email debe contener la extensión '.com'.</div>
</div>
<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Usuario</h5>
        <div class="card-body">

          <div class="container">

            <h2>Editar Usuario</h2>
            <h2>Editando : {{persona.nombre}}</h2>
            <form (submit)="savePersona()">


              <label for="nombre">Nombre</label>
              <input class="form-control" type="text" id="nombre" name="nombre" [formControl]="nombre"
                [(ngModel)]="persona.nombre" required>


              <label for="apellido">Apellido</label>
              <input class="form-control" type="text" id="apellido" name="apellido" [formControl]="apellido"
                [(ngModel)]="persona.apellido" required>



              <label for="numeroTelefono">Número Telefonico</label>
              <input class="form-control" type="number" id="numeroTelefono" name="numeroTelefono" [formControl]="numero"
                [(ngModel)]="persona.numeroTelefono" required>


              <label for="correo">Correo</label>
              <input class="form-control" type="email" id="correo" name="correo" [formControl]="email"
                [(ngModel)]="persona.correo" required>


              <label for="edad">Edad</label>
              <input class="form-control" type="number" id="edad" name="edad" [(ngModel)]="persona.edad" required>

              <button class="btn btn-success" type="submit">Actualizar</button>
              <button class="btn btn-info" routerLink="/personas">Cancelar</button>
            </form>
          </div>






        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>
